<!DOCTYPE html>
<html>
<head>
    <title>GeoLab Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/MainCon/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MainCon/css/fonts.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/MainCon/css/directions.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MainCon/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MainCon/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MainCon/css/first_page.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MainCon/css/registration.css">
</head>
<body>
    <div class="search_bg">
        <div class="search_wrapper clearfix">
            <button class="close_btn"> X </button>
            <div class="container">
                <div class="search_form clearfix">
                    <form method="POST" class="search_form_in clearfix">
                        <input type="submit" name="search-submit" id="search-submit" class="search_submit" value="ძებნა">
                        <input class="search_area" id="myInput" type="text" placeholder="">
                    </form>
                    <div class="filter" id="filter_DIV">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="filter_box font-DejaVuSans">
                                    <ul>
                                        <li class="font-BPGNinoMtavruli"><a href="#">დიზაინი</a></li>
                                        <li><a href="#">პოლიგრაფიული დიზაინი</a></li>
                                        <li><a href="#">ინტერფეისის დიზაინი</a></li>
                                        <li><a href="#">3D დიზაინი</a></li>
                                        <li>
                                            <a href="#">
                                                შრიფტის დიზაინის საფუძვლები და
                                                ფონტ-ინჟინერია
                                            </a>
                                        </li>
                                        <li><a href="#">ვიდეო გრაფიკა და მონტაჟი</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="filter_box font-DejaVuSans">
                                    <ul>
                                        <li class="font-BPGNinoMtavruli"><a href="#">ვებ პროგრამირება</a></li>
                                        <li><a href="#">ვებ პროგრამირება Front-End (HTML)</a></li>
                                        <li><a href="#">ვებ პროგრამირება PHP</a></li>
                                        <li><a href="#">ვებ პროგრამირება ASP.NET.MVC</a></li>
                                        <li><a href="#">Wordpres</a></li>
                                        <li><a href="#">drupal</a></li>
                                        <li><a href="#">Meanlab</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="filter_box font-DejaVuSans">
                                    <ul>
                                        <li class="font-BPGNinoMtavruli"><a href="#">მობილური პროგრამირება</a></li>
                                        <li><a href="#">მობილური პროგრამირება IOS</a></li>
                                        <li><a href="#">მობილური პროგრამირება Android (java)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="filter_box font-DejaVuSans">
                                    <ul>
                                        <li class="font-BPGNinoMtavruli"><a href="#">თამაშების დეველოპმენტი</a></li>
                                        <li><a href="#">პროგრამირება Unity 3D</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="filter_box font-DejaVuSans">
                                    <ul>
                                        <li class="font-BPGNinoMtavruli"><a href="#">კოდირება</a></li>
                                        <li><a href="#">პროგრამირება C#</a></li>
                                        <li><a href="#">პროგრამირება და ლოგიკა</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="filter_box font-DejaVuSans">
                                    <ul>
                                        <li class="font-BPGNinoMtavruli"><a href="#">კომუნიკაცია</a></li>
                                        <li><a href="#">სოციალური მედია მენეჯმენტი</a></li>
                                        <li><a href="#">Facebook Ads, GoogleAdWords, Google Analytics, SEO</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <header>
        <div class="container">
            <div class="header_wrapper clearfix">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="~/home/index"> <img src="~/Content/MainCon/images/logo.png"></a>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <div class="mainmenu font-BPGNinoMtavruli  clearfix">
                        @{
                            if (this.Url.Action().ToString().Contains("Index")|| this.Url.Action().ToString().Contains("index"))
                            {
                                <ul>
                                    <li><a href="#mimartulebebi">მიმართულებები </a></li>
                                    <li><a href="#leqciebi">ლექციები </a></li>
                                    <li><a href="#teachers">ლექტორები </a></li>
                                    <li><a href="#about">პროექტების შესახებ </a></li>
                                    <li><a href="#contact">კონტაქტი </a></li>
                                </ul>
                            }
                            else
                            {
                                <ul>
                                    <li><a href="~/home/index">მიმართულებები </a></li>
                                    <li><a href="~/home/index">ლექციები </a></li>
                                    <li><a href="~/home/index">ლექტორები </a></li>
                                    <li><a href="~/home/index">პროექტების შესახებ </a></li>
                                    <li><a href="~/home/index">კონტაქტი </a></li>
                                </ul>
                            }

                        }

                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="search_holder">
                        <button class="search_btn">
                            <img src="~/Content/MainCon/images/search.png">
                        </button>
                    </div>
                    @{ var s = (Geo_Lab_Online.Models.User)Session["login_user"];
                                if ( s== null) {
                    <div class="login font-BPGNinoMtavruli">
                        <button class="login_btn">
                            შესვლა
                        </button>
                    </div> }
                        else
                        {
                        <div class="logout font-BPGNinoMtavruli">
                            <h5>გამარჯობა @s.FirstName </h5>
                            <button class="logout_btn" id="logout-submit">
                                გასვლა
                            </button>
                        </div>
                            } }
                </div>
            </div>
        </div>
    </header>
    
    <div class="registration_bg">
        <div class="registration_wrapper clearfix">
            <button class="close_btn"> X </button>
            <div class="registration_box clearfix font-BPGNinoMtavruli">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="panel panel-login">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href="#" class="active" id="login-form-link">შესვლა</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#" id="register-form-link"> რეგისტრაცია</a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="login-form"  method="post" role="form" style="display: block;">

                                                <div class="facebook_login">
                                                    <span class="fb_login_intro"> შესვლა ფეისბუკით</span>
                                                    <a href="~/User/Facebook" class="btn btn-primary fb_color">Facebook</a>
                                                </div>

                                                <div class="form-group">
                                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="იმეილი" value="">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="პაროლი">
                                                </div>
                                                <div class="form-group text-center">
                                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                                    <label for="remember" class="remember"> დამახსოვრება</label>
                                                </div>



                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-4 col-sm-offset-4">
                                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="შესვლა">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <form id="register-form"  method="post" role="form" style="display: none;">
                                                <div class="form-group">
                                                    <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="სახელი" value="">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="lastname" id="lastname" tabindex="1" class="form-control" placeholder="გვარი" value="">
                                                </div>

                                                <div class="form-group">
                                                    <input type="email" name="email" id="registeremail" tabindex="1" class="form-control" placeholder="იმეილი" value="">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="userPassword" id="userPassword" tabindex="2" class="form-control" placeholder="გაიმეორეთ პაროლი">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="გაიმეორეთ პაროლი">
                                                </div>
                                                <h5 style="color:red" id="div-for-error"></h5>
                                                <h5 style="color:green" id="div-for-error1"></h5>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <input  name="register-submit" id="register-submit logintest" tabindex="4" class="form-control btn btn-register logintest" value="დადასტურება">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @RenderBody()

 

    <footer>
        <div class="developers font-DejaVuSans">
            developers
        </div>
    </footer>

   
    <script type="text/javascript" src="~/Content/MainCon/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/MainCon/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/MainCon/js/app.js"></script>
    <script src="~/Content/MyJavaScript.js"></script>
</body>
</html>