@model Geo_Lab_Online.Models.DirectionModel
@{
    ViewBag.Title = "Direction";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<!-- Directions Page Start-->
<div class="direction_cover design_cover">
    <div class="direction_addres font-BPGNinoMtavruli">
        <div class="container">
            <a href="directions.html"> მიმართულებები </a> / <a href="directions.html/#design"> @Model.DirectionTitle </a>
            @*<img src="~/Content/Image/@Model.DirectionImage@Model.DirectionImageExt">*@
        </div>

    </div>
   
</div>
<div class="direction_description">
    <div class="container">
        <span class="block_title font-BPGNinoMtavruli"> @Model.DirectionTitle </span>
        <div class="direction_intro font-DejaVuSans">
           @Html.Raw(@Model.DirectionDesc)
             </div>
    </div>
</div>
<div class="directions_menu">
    <div class="container">
        <ul class="font-BPGNinoMtavruli">
            <li><a href="#"> პოლიგრაფიული </a></li>
            <li><a href="#"> ინტერფეისი </a></li>
            <li><a href="#"> ვიდეო მონტაჟი </a></li>
            <li><a href="#">  ფონტის ინჟინერია</a></li>
        </ul>
    </div>
</div>
<div class="direction_leqciebi" id="direction_leqciebi">
    <div class="container">

        <div class="block_body font-BPGNinoMtavruli">
            <div class="row">
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lesson_box">
                        <div class="lesson_box_in"> </div>
                        <div class="lesson_desc">
                            <div class="lesson_title">
                                <a href=""> ვებ პროგრამირება Front-End (HTML) </a>
                            </div>
                            <div class="lesson_intro">
                                ვებ პროგრამირება Front-End (HTML)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Directions Page End-->
