@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<input type="text" id="userPasswordcon" class="form-control input-sm chat-input" placeholder="username" />
<br>
<input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
<br>
<div class="wrapper">
    <span class="group-btn">
        <a href="#" class="btn btn-primary btn-md logintest">login <i class="fa fa-sign-in"></i></a>
    </span>
</div>



<table class="table table-bordered">
    <thead>
        <tr class="success">
            <th>
                Social Logins
            </th>
        </tr>
    </thead>
    <tbody>
     
        <tr>
            <td>
                <input type="button" id="btnFacebookLogin"
                       value="Login with Facebook" class="btn btn-success" />
            </td>
        </tr>
    </tbody>
</table>